
body {
    font-family: Arial, sans-serif;
    background-color: #ffcc00;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card {
    background-color: white;
    width: 900px;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.card-header {
    background: rgb(55, 122, 230);
    height: 40px;
}

.card-header h1 {
    color: #ffffff;
    margin: 0;
}

.card-img{
    width: 100%;
    /* height: 300px; */
    object-fit: cover; 
    
}


.card-text {
    margin: 100px;
    padding: 10px;
}
.card-text h1 {
    text-align: left;
    color: #ffcc00;
}
.card-text p {
    color: #555;
    line-height: 1.6;
    justify-content: left;
}

.card-footer {
    background: rgb(55, 55, 230);
    height: 30px;
    color: #ffffff;
    
}








